@import "bootstrap";

$color_white : white!default;
$color_black : black;
$color-brand: rgb(35, 40, 46);
$color-yellow-brand: #F8E71C;
$color-blue-brand: #5522fa;

.brand-color {
    background-color: $color-brand;
}

.brand-blue {
    color: $color-blue-brand;
}
.brand-yellow {
    color: $color-yellow-brand;
}

.brand-black {
    color: $color_black;
}

.brand-black:hover {
    color: $color-blue-brand;
}

.btn-yellow-brand {
    background-color: $color-yellow-brand;
    color: $color_black;   
}

.btn-blue-brand {
    background-color: $color-blue-brand;
    color: $color_white;   
}

.btn-outline-light:hover {
    background-color: $color-yellow-brand;
    color: $color_black;
}

.style-img-main {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

.style-img-who {
    max-height: 20px;
    
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    color: white;
    z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

footer,
nav,
.overlay {
    a {
        color: $color-yellow-brand; 
    }
    a:hover {       
        color: $color_white;
    }
}




// #footer a:link, a:visited {          
//     color: $color-yellow-brand;    
//     text-align: center;    
//     display: inline-block;
// }

