<div class="container">
    <div class="row">
      <div class="mx-auto">
        <p>Hola <%= @email %>!</p>
        
        <% if @resource.try(:unconfirmed_email?) %>
          <p>Nos estamos contactando para notificarle que su direccioń de correo a sido cambiada a <%= @resource.unconfirmed_email %>.</p>
        <% else %>
          <p>Nos estamos contactando para notificarle que su direccioń de correo a sido cambiada a <%= @resource.unconfirmed_email %>.</p>
          <% end %>
          
      </div>
    </div>
</div>

