<div class="container">
   <div class="row">
      <div class="mx-auto">
          <p>Hola <%= @resource.email %>!</p>
          
          <p>Su password ha sido cambiado</p>
      </div>
   </div>
</div>

