<div class="container">
    <div class="row">
        <div class="mx-auto">
            <p>Hola <%= @resource.email %>!</p>
            
            <p>Alguien ha solicitado un link para cambiar su contraseña. Puede hacerlo a traves del siguiente enlace</p>
            
            <p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
            
            <p>Si usted no lo solicitó, por favor ignore este correo.</p>
            <p>Su password no va cambiarse hasta que acceda al anterior enlace y creé una nueva contraseña</p>

        </div>
    </div>
</div>


